<ion-tabs class="tabs-icon-top tabs-striped tabs-color-active-positive">

  <!-- home Tab -->
  <ion-tab title="发现" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/home">
      <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- search Tab -->
  <ion-tab title="查询" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- BBS Tab -->
  <ion-tab title="交流" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/bbs">
    <ion-nav-view name="tab-bbs"></ion-nav-view>
  </ion-tab>

<!-- Set Tab -->
  <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
